
body {
    padding: 10px 20px 10px 20px;
    font-family: verdana, arial;
    font-size: 16px;
    color: #096199;
}


label {
    width: 160px;
    display: inline-block;
    margin: 5px 0;
    vertical-align: top;
}
input {
    width: 300px;
    display: inline-block;
    margin: 5px 0;
}
select {
    width: 315px;
    display: inline-block;
    margin: 5px 0;
}
textarea {
    width: 310px;
    display: inline-block;
    margin: 5px 0;
}
.form button {
    margin-top: 10px;
    margin-right: 20px;
}
.navig button {
    display: block;
    margin: auto;
}
.tabtitle {
    padding: 0px 10px 5px 10px;
    color: #178863 blue;
    font-weight: bold;
}
.tabrow {
    padding: 0px 10px 0px 10px;
}
.tabrow a {
    text-decoration: none;
    color: #3a9ba9;
}
.tabrow a:hover {
    text-decoration: none;
    color: #8a0032;
}
.detailtitle {
    width: 300px;
    color: rgba(99, 126, 117, 0.6);
}
p {
    margin-top: 0;
    margin-bottom: 5px;
}
p a {
    text-decoration: none;
    color: #3a9ba9;
}
p a:hover {
    text-decoration: none;
    color: #8a0032;
}
h1 {
    color: #8a0032;
    font-size: 30px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 14px;
}
h3 {
    color: #3a9ba9;
    font-size: 24px;
    font-weight: normal;
    padding: 0;
    margin-bottom: 10px;
}
h3 a {
    color: #3a9ba9;
    text-decoration: none;
}
h3 a:hover{
    text-decoration: none;
    color: #8a0032;
}
.mauve {
    color: #be0bb7;
}
.noir {
    color: #000000;
}
.rouge {
    color: #dd0f0f;
}
.actif {
    border-style: solid;
    border-color: #8a8800;
    border-width: 2px;
    display: inline-block;
    margin: auto;
    padding: 3px;
    border-radius: 50%;
}
.passif {
    border-style: solid;
    border-color: rgba(99, 126, 117, 0.3);
    border-width: 2px;
    display: inline-block;
    margin: auto;
    padding: 3px;
    border-radius: 50%;
}
.notes {
    color: #be0bb7;
    font-size: 12px;
}
.subnav {
    margin: 7px 0 7px 0;
}
section a {
  color : #3a9ba9;
}
footer {
  margin-top: 3%;
}
.title_page h1 {
  color: #096199;
  line-height: 40px;
  font-size: 36px;
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: center;
  word-wrap: break-word;
}
